{% extends 'mikhalchuk/base.html' %}
{% block mainphoto %}
{% endblock mainphoto %}
{% block content %}
<title>{{ title }}</title>
<div class="image-grid">
    {% for collection in collections %}
        <div class="image-item">
            <a href="{{ collection.url }}">
                {{ collection.name }}
                <img src="{{ collection.photo1.url }}" alt="{{ collection.name }}">
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="clear"></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}