{% extends 'mikhalchuk/base.html' %}
{% block mainphoto %}
{% endblock mainphoto %}
{% block content %}
<title>{{ title }}</title>
<ul>
    {% for collections in collections %}
        <li>
            <a href="{{ collections.url }}">
                {{ collections.name }}
            </a>
        </li>
        <li>
            <a href="{{ collections.url }}">
                <img src="{{ collections.photo1.url }}" style="width: 20%; height: 20%;"/>
            </a>
        </li>
    {% endfor %}
</ul>
<p>здесь будут коллекции
{% endblock %}