{% extends 'mikhalchuk/base.html' %}
{% block mainphoto %}
{% endblock mainphoto %}
{% block content %}
<title>{{ title }}</title>
<div class="image-grid">
    {% for collection in collections %}
        <div class="image-item">
            <a href="{{ collection.url }}">
                <div class="image-content">
                    <img src="{{ collection.photo1.url }}" alt="{{ collection.name }}" style="width: 40%; height: auto;">
                    <div class="font_down"> {{ collection.name }} </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="clear"></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}