.menu {
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: 5px;
    padding: 0;
    display: flex;
    height: 50px;
}

.menu li {
    display: inline;
    height: 50px;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('/static/font/centurygothic.ttf');
}

.menu li a {
    letter-spacing: 10px;
    font-size: 40px;
    font-family: "Century Gothic", sans-serif;;
    display: block;
    color: #000;
    word-spacing: 20px;
    padding: 10px 50px;
    text-decoration: none;
    transform: scale(0.4);
    width: 75px;
}

.menu li b {
    font-weight: normal;
    letter-spacing: 10px;
    font-size: 40px;
    font-family: "Century Gothic", sans-serif;;
    display: block;
    color: #000;
    word-spacing: 20px;
    padding: 10px;
    text-decoration: none;
    transform: scale(0.4);
    width: 70px;
    margin-right: 200px;
}

.menu li a:hover {
    background-color: #ccc;
    background-color: transparent;
}

.menu li b:hover {
    background-color: #ccc;
    background-color: transparent;
}

.company-logo {
    padding: 0;
    width: 200px;
    margin-bottom: -25px;
    margin-top: -25px;
    height: 80px;
}

.center-text {
    text-align: center;
}


