<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="{% static 'mikhalchuk/css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'mikhalchuk/css/menu.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <nav>
        <ul class="menu">
            {% block mainmenu %}
                {% for m in menu %}
                    {% if forloop.counter == 1 %}
                        <li>
                            <b>
                                <div class="dropdown">
                                    <span class="hover-text">Галерея</span>
                                    <div class="dropdown-content">
                                        <a href="{% url 'new_collection' %}">новая коллекция</a>
                                        <a href="{% url 'dress' %}">платья</a>
                                        <a href="{% url 'jackets' %}">пиджаки</a>
                                        <a href="{% url 'shirts_and_blouses' %}">рубашки и блузы</a>
                                        <a href="{% url 'trousers_and_skirts' %}">брюки и юбки</a>
                                    </div>
                                </div>
                            </b>
                        </li>
                    {% elif forloop.counter == 2 %}
                        <li>
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                        </li>
                    {% elif forloop.counter == 3 %}
                        <li>
                            <a href="{% url 'home' %}">
                                <div class="center-text">
                                <img src="{{ STATIC_URL }}media/logotype/logo2.png" alt="Company" class="company-logo">
                                </div>
                            </a>
                        </li>
                    {% elif forloop.counter == 4 %}
                        <li>
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endblock mainmenu %}
        </ul>
    </nav>
    {% block mainphoto %}
    <nav>
        <div style="text-align: center;">
        <img src="{{ STATIC_URL }}media/photos/mainphoto4.JPG" style="width: 100%; height: 100%;">
        </div>
    </nav>
    {% endblock mainphoto %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>